body {
	background-color: rgb(121, 121, 121);
}

.wrapper {
	width: 100%;
	margin-top: 4rem;
	display: flex;
}

.form-wrap {
	margin-left: 50px;
}

.banner-img {
	max-width: 40%;
	height: auto;
}

.text {
	color: white;
}

input {
	border: none;
}

input:valid {
	border: 5px solid green;
}

input:invalid {
	border: 5px solid red;
}
